:root {
  --app-font-family: "Inter", sans-serif;
  --primary: #000080;
  --color-primary: 0, 0, 128; /* #000080 as RGB */
  --secondary: #00008029;
  --light: #effdf5;
  --light-gold: #fae8ad;
  --dark-gold: #c58e38;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-black-lite: #5a5a5a;
  /* --text-black-lite: #2b3940; */
  --text-white-lite: #ffffffbb;

  /* Tailwind Config Var */
  --color-primary-500: rgb(var(--color-primary));

  /* Lighter variants */
  --color-primary-50: color-mix(in srgb, white 95%, rgb(var(--color-primary)));
  --color-primary-100: color-mix(in srgb, white 85%, rgb(var(--color-primary)));
  --color-primary-200: color-mix(in srgb, white 70%, rgb(var(--color-primary)));
  --color-primary-300: color-mix(in srgb, white 50%, rgb(var(--color-primary)));
  --color-primary-400: color-mix(in srgb, white 30%, rgb(var(--color-primary)));

  /* Darker variants */
  --color-primary-600: color-mix(in srgb, black 20%, rgb(var(--color-primary)));
  --color-primary-700: color-mix(in srgb, black 40%, rgb(var(--color-primary)));
  --color-primary-800: color-mix(in srgb, black 60%, rgb(var(--color-primary)));
  --color-primary-900: color-mix(in srgb, black 80%, rgb(var(--color-primary)));
}

.text-primary {
  color: var(--primary) !important;
}
.text-white {
  color: var(--text-white-color) !important;
}
.text-black {
  color: var(--text-black-color) !important;
}
.text-black-lite {
  color: var(--text-black-lite) !important;
}
.text-white-lite {
  color: var(--text-white-lite) !important;
}

.h1-font {
  font-family: var(--app-font-family);
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.2rem;
}

.h2-font {
  font-family: var(--app-font-family);
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0;
}

.h3-font {
  font-family: var(--app-font-family);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2rem;
}
